<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gallery">
	<insert id="insert" parameterType="galleryDto">
		INSERT INTO board_gallery
		(num, writer, caption, imagePath, regdate)
		VALUES(board_gallery_seq.NEXTVAL, #{writer}, #{caption}, #{imagePath},SYSDATE)
	</insert>
	<select id="getData" parameterType="int" resultType="galleryDto">
		SELECT * 
		FROM
			(SELECT num, writer, caption, imagePath, regdate,
				LAG(num, 1, 0) OVER (ORDER BY num DESC) AS prevNum, 
				LEAD(num, 1, 0) OVER (ORDER BY num DESC) AS nextNum 
			FROM board_gallery 
			ORDER BY num DESC)
		WHERE num=#{num}
	</select>
	<select id="getList" parameterType="galleryDto" 
		resultType="galleryDto">
		SELECT *
		FROM
			(SELECT result1.*, ROWNUM AS rnum
			FROM
				(SELECT num,writer,caption,imagePath,regdate
				FROM board_gallery
				ORDER BY num DESC) result1) 
		WHERE rnum BETWEEN #{startRowNum} AND #{endRowNum}
	</select>
	<!-- resultType이 int이기 때문에 nvl을 써서 null일 때  null대신 0이 들어가도록 한다. -->
	<select id="getCount" resultType="int">
		SELECT NVL(MAX(ROWNUM), 0)
		FROM board_gallery
	</select>
</mapper>